# OS / editor
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.pyc
venv/
*.pyo
*.pyd
*.egg-info/


# Data & outputs
data/
!data/clean/
!data/clean/*/
!data/clean/*/*/
runs/
*.csv
*.log

# GitHub
.github/*.swp

# Python junk
__pycache__/
*.pyc
